body {
	font-family: "john-doe",serif;
}
/*-------------------------
backgrounds
-------------------------*/
.homeBodyBg {
	background-image:url('../img/bg3.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.contactBodyBg {
	background-image:url('../img/bg6.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.aboutBodyBg {
	background-image:url('../img/bg4.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.asgnBodyBg {
	background-image:url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.none {
	background-color: white;
}


h1 {
	font-family: "source-sans-pro",sans-serif;
}
header h1 {
	float: left;
	font-size: 3em;
	font-family: "source-sans-pro",sans-serif;
	color: #FFA07A;
	margin-top: 5%;
	text-shadow: .03em .03em .2em #000;	
}
nav{
	margin-right: -4%;
}
.contactinfo {
	float: left;
	width: 350px;
	background: url("../img/lined_paper.png");
	background-color: white;
	margin-top: 5%;
}
.assignments4 img {
	width: 75%;
}
.movies td {
	padding: 10px;
}
.processMovies label {
	padding: 10px;
	margin: 40px;
}
legend {
	color: #1A1A1A;
	font-size: 2em;
	font-family: "source-sans-pro",sans-serif;
}
fieldset {
	width: 300px;
	border: none;
}
label {
	color: #1A1A1A;
	font-size: .9em;
	font-family: "droid-sans",sans-serif;
	font-weight: light;
	margin: 20px 0;
	padding: 10px 0 10px 10px;
}
nav ul {
	margin: 0 -7%;
	list-style-type: none;
    white-space: nowrap;
    z-index: 1;
}
nav ul li {
	background-color: #CD5C5C;
	border: 1px dotted #8C2D2D;
	box-shadow: 0 0 5px #000;
	border-radius: 30px;
	margin: 10px;
	float: right;
	padding: 20px;
	position: relative;
}
nav li.on a {
	text-decoration: underline;
}
nav ul li a {
	text-decoration: none;
	color: #FFF;
	font-size: 2em;
	font-family: "droid-sans",sans-serif;
	padding-bottom: 10px;
}
nav ul li:hover { 
	text-shadow: 0 0 10px #000; 
}

nav ul li:hover > ul {
	display: block;
	font-size: .5em;
  left: auto;
  padding-top: 5px;
  min-width: 100%;
}
nav ul li:hover > ul li a:before {
  width: 20%;
}
nav ul li:nth-child(1) a:before {
	content: url("../img/about.png");
}
nav ul li:nth-child(2) a:before {
	content: url("../img/contact.png");
}
nav ul li:nth-child(3) a:before {
	content: url("../img/assignments.png");
}

footer {
	clear: both;
   	width: 65%;
}
footer ul{
	margin-left: 10%;
}
footer ul li {
	float: left;
	list-style: none;
	padding:10px 10px;
}
footer span {
	clear: both;
	float: left;
	color: white;
	font-size: .83em;
}
footer p {
	color: white;
	font-family: "droid-sans",sans-serif;
	font-size: .75em;
	float: right;
	margin-right: 3%;
}
footer ul li:nth-child(1) a:before {
	content: url("../img/twitter.png");
}
footer ul li:nth-child(2) a:before {
	content: url("../img/facebook.png");
}
footer ul li:nth-child(3) a:before {
	content: url("../img/youtube.png");
}
footer ul li:nth-child(4) a:before {
	content: url("../img/google-plus.png");
}
.container {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	/*background: rgba(255, 255, 255, 0.45);*/
}
.logo img{
	float: left;
	margin-left: 3%;
	margin-top: 3%;
	margin-right: 3%;
	width: 235px;
	height:  270px;
	border: 1px black solid;
	border-radius: 25px;

}
.welcome {
	float: left;
	width: 65%;
	min-width: 250px;
	background: url("../img/lined_paper.png");
	background-color: rgba(255, 255, 255, .85);
	background-size: 60%;
	padding: 20px;
	border-radius: 10px;
}
.processContact, .processNumber {
	float: left;
	width: 65%;
	background: url("../img/lined_paper.png");
	padding: 20px;
	border-radius: 10px;
}
.processContact p, .processNumber p {
	background-color: rgba(127, 0, 0, 0.7);
	border-radius: 15px;
	padding: 20px;
}

#honeypot {
	display: none;
}
/*shadow was originally on http://css-tricks.com/snippets/css/css-box-shadow/*/
.shadow > p {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.defButton {
	min-width: 45px;
	margin-bottom: 1.2em;
}
@media (min-width: 1240px) {
	footer {
		position: absolute;
		bottom: 0;
	   	width: 65%;
	}
	nav ul { }

}
@media (max-width: 1240px) {
	nav{
		float: left;
		margin-left: 0;
	}
	nav ul li {
		float: left;
		list-style-type: none;
	}
}